<html>

<head>
  <title>Push notifications Demo</title>
</head>

<body>
  <h2>EJS Get amazing push notifications demo</h2>

  <form id="subForm" name="subForm" onsubmit="onSubscribe(event)">
    <p>
      <label>Name</label>
      <input type="input" name="name" />
    </p>
    <p>
      <input type="submit" value="Subscribe" />
    </p>
  </form>
  <script type="application/javascript" src="/client.js"></script>
</body>

</html>